<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557805776866-u7cdnrqbg70kpta02l37o8d8kk1ma3es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557805776866-u7cdnrqbg70kpta02l37o8d8kk1ma3es</string>
	<key>API_KEY</key>
	<string>AIzaSyAhMvoDF4UumqllsI2QL9J-sH7NdJqh4fs</string>
	<key>GCM_SENDER_ID</key>
	<string>557805776866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.babylab.babbling</string>
	<key>PROJECT_ID</key>
	<string>babbling-708c4</string>
	<key>STORAGE_BUCKET</key>
	<string>babbling-708c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557805776866:ios:c3b18faf6058d9401a53bb</string>
	<key>DATABASE_URL</key>
	<string>https://babbling-708c4.firebaseio.com</string>
</dict>
</plist>